@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

  * {
    font-family: "Open Sans", sans-serif;
  }

html,
body {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  @media screen and (max-width: 400px) {
    padding: 15px;
  }
}


.CardList {
  display: grid;
  grid-template-columns: repeat(4   , 1fr);
  gap: 20px;
 
}
